<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
  </head>
  <body>
    <h1>Landing</h1>
    <p>Welcome to the landing page!</p>
    <!-- For each template show the link and name -->
    {% for template in templates %}
    <p>
      <a href="{{ template.link }}">{{ template.name }}</a>
    </p>
    {% endfor %}
  </body>
</html>
